body {
    font-family: "EB Garamond", serif;
    margin: 0;
    background-color: #ffff;
}

.outer {
    text-align: center;
    color: white;
}

.content {
    text-align: center;
    color: white;
    font-weight: 400;
  margin-top: 40px;
}

.topofpage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 14px;
    background-color: #ffff;
    height: 70px;
    align-items: center;
}

.navbar {
    display: flex; 
    justify-content: center; 
    flex-grow: 1;
    font-weight: 600;
    text-transform: uppercase;
  max-width: 100%;
  max-width: auto;
  margin-left: 20px;
  
}

.logo {
    max-width: 200px;
    padding-left: 5px;
}

.imglogo {
    max-width: 100%;
}

.search {
    margin-left: auto;
    max-width: 150px;
    text-align: right;
}

.search_icon {
    max-width: 30%;
}


a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    margin-right: 20px; 
}

a:hover {
    color: skyblue;  
}

a:active {
    color: darkblue;
}

@media (max-width: 800px) {
    .navbar a {
        font-size: 12px; 
        margin-right: 20px;
    }

    .search {
        margin-left: 0; 
        text-align: center; 
    }
}
	  