body {
    margin: 0;
    padding: 0;
    background-color: #ffff;
}

.outer {
    position: relative;
    width: 100%;
    height: 400px;
}

.tile {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;

}

.tilebg1 {background-image: url("img/soccer.jpg")}
.tilebg2 {background-image: url("img/nurse.jpg")}
.tilebg3 {background-image: url("img/patient.jpg")}
.tilebg4 {background-image: url("img/grandma.jpg")}
.tilebg5 {background-image: url("img/hurricane.jpg")}
.tilebg6 {background-image: url("img/crisis.jpg")}

.page {
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
    width: 100%;
    max-width: 800px; 
    height: 100%;
    background-color: #fffff;
    opacity: 0.6;
    z-index: 2; 
    color: #293971;
}

.content {
    font-weight: 400;
    display: flex;
    text-align: left;
    padding-top: 20px; 
    padding-left: 20px;
}

.topofpage {
    position: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
    background-color: #ffff;
    height: 80px;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex; 
    justify-content: center; 
    flex-grow: 1;
    font-weight: 400;
    max-width: 100%;
    margin-left: 20px;
    background-color: #ffff;
    padding: 20px;
}

.logo {
    max-width: 1000px;
    padding-left: 20px;
}

.imglogo {
    max-width: 40%;
}

.search {
    margin-left: auto;
    text-align: right;
}

.search_icon {
    max-width: 15%;
}

a {
    color: #293971;
    font-size: 16px;
    text-decoration: none;
    margin-right: 20px;
}

a:hover {
    color: #5DA5A6;
}

a:active {
    color: #293971;
}

a:last-child {
    margin-right: 0; /* Remove margin for the last link */
}

.hamburger {
    display: none; /* Hide hamburger by default */
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.overlay.active {
    display: flex;
}

.overlay-content a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    display: block;
    margin: 20px 0;
}

.close {
    color: white;
    font-size: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.hidden {
    display: none; /* Hide the navbar */
}

@media (max-width: 828px) {
    .navbar {
        display: none; /* Hide the navbar at the breakpoint */
    }

    .hamburger {
        display: block; /* Show hamburger in mobile view */
    }
}
